@model Series
@{
}

<div class="row">
	<div class="col-md-4 text-center">
		<img src="/seriesImages//@Model.ImageFileName" class="img-fluid mb-3" alt="...." width="250" />
	</div>
	<div class="col-md-8">
		<h2 class="mb-3">@Model.Title @(Model.Year)</h2>
		<button type="button" class="btn btn-warning btn-sm">
			Download <i class="bi bi-cloud-download-fill"></i>
		</button>
		<hr />

		<div class="row mb-3">
			<div class="col-sm-3 fw-blod">
				Genre
			</div>
			<div class="col-sm-9">
				@Model.Genre
			</div>
			<div class="col-sm-3 fw-blod">
				Rate
			</div>
			<div class="col-sm-9">
				@Model.Rate
			</div>

			<div class="fw-bold">Description</div>
			<div style="white-space:pre-line">@Model.Description</div>
		</div>
	</div>
</div>
